<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OgrenciDestekApp"
        tools:targetApi="31">
        <activity
            android:name=".PasswordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".Deneme2023_Scren"
            android:exported="false" />
        <activity
            android:name=".Bar_Screen"
            android:exported="false" />
        <activity
            android:name=".PhotoViewActivity"
            android:exported="false" />
        <activity
            android:name=".Photo2_Screen"
            android:exported="false" />
        <activity
            android:name=".Photo_Screen"
            android:exported="false" />
        <activity
            android:name=".Puan_Screen"
            android:exported="false" />
        <activity
            android:name=".Kronometre_Screen"
            android:exported="false" />
        <activity
            android:name=".Forgot_password"
            android:exported="false" />
        <activity
            android:name=".ToDoList_Screen"
            android:exported="false" />
        <activity
            android:name=".Signup_Screen"
            android:exported="false" />
        <activity
            android:name=".Login_Screen"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>